// #FFCC05 -> Yellow
// #662D91 -> Purple

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
// --------------------
// Definition of variables

$primary: #ffcc05;
$secondary: #662d91;
$danger: #9024bb;
$primary-font: "Muli", sans-serif;

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  // display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;
  font-family: $primary-font;
  display: flex;
  flex-direction: column;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  display: flex;
  flex-direction: column;
  // padding:20px;
  background-color: $secondary;
  color: white;
  margin: 0;
  font-family: $primary-font;

  p {
    font-size: 1.2em;
  }

  img {
    width: 70%;
    max-width: 400px;
    min-width: 250px;
    padding: 30px;
  }

  .features {
    padding: 5px;
    margin: 5px;
  }

  .icon {
    padding-bottom: 15px;
    color: white;
  }

  .home-header {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .button-home {
    width: 70%;
    border-radius: 50px;
    margin: auto auto;
    background-color: $primary;
    border: 0;
    color: $secondary;
  }
    .button-home:hover{
      background-color:rgb(207, 168, 9);
      border:0;
      color:$secondary;
    } 
    
    .home-location{
      background-color:$primary;
      padding:30px;
      color:$secondary;
      
      .icon{
        color:$secondary;
      }
    }
}


  .home-location {
    background-color: $primary;
    padding: 30px;
    color: $secondary;
  }


.AddLibrary,
.AddBook {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 70%;
    max-width: 500px;
  }

  h2 {
    padding: 10px;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

// --------------------
// Style for Login and Sign Up components

.Login,
.Signup {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  .container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }
  input {
    margin-top: 5px;
  }

  h2 {
    margin-top: 5px;
  }
}

// --------------------
// Style for Profile Page component

.profilePage {
  background-color: $secondary;
  padding: 0 20px;
  div {
    display: flex;
    flex-direction: column;
  }

  li {
    text-align: left;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }

  a {
    margin-top: 5px;
  }

  .userContainer {
    display: flex;
    justify-content: space-evenly;
  }

  .userPic img {
    height: 120px;
    width: 120px;
    margin: 20px;
    object-fit: cover;
    border-radius: 100px;
    height: 120px;
  }

  .userName,
  .libraryName,
  .bookName {
    font-size: 1.6em;
    color: rgb(100, 100, 100);
    font-weight: bold;
  }

  .libraryName,
  .bookName {
    color: $secondary;
  }

  .infoContainer {
    margin-top: 10px;
    // border:3px solid orange;
  }

  .infoContainer img {
    height: 120px;
  }

  .library-cover {
    width: 300px;
    height: 100px;
    // object-fit:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
  }
  .container-opacity {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .container-opacity a {
    text-decoration: none;
    color: white;
  }
  .add-library-button,
  .find-libraries-button,
  .return-book-button {
    border-radius: 50px;
    margin: 15px auto;
    background-color: $primary;
    border: 0;
    color: $secondary;
    padding: 6px;
    width: 100%;
    display: inline-block;
  }

  .return-book-button {
    border-radius: 50px;
    margin: 0;
    background-color: $primary;
    border: 0;
    color: $secondary;
    padding: 3px;
    width: 150px;
    display: inline-block;
  }

  .add-library-button:hover,
  .find-libraries-button:hover,
  .return-book-button:hover,
  .confirm-profile-button:hover {
    background-color: $primary;
    background-color: rgb(207, 168, 9);
    border: 0;
    color: $secondary;
  }
}

.editForm {
  .edit-button {
    // display:block;
    text-align: right;
    padding: 5px;
    font-size: 22px;
    // cursor: pointer;
    color: $secondary;
  }
  .icon {
    cursor: pointer;
  }
  .form-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .confirm-profile-button {
    border-radius: 50px;
    margin: 10px;
    background-color: $primary;
    border: 2px solid $primary;
    color: $secondary;
    padding: 3px;
    width: 150px;
    display: inline-block;
  }
}

.bookCard {
  img {
    width: 70%;
  }

  button {
    margin-top: 10px;
  }
}

.LibraryBooks {
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .CardMain {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 15%;
      min-width: 110px;
      object-fit: cover;
      border-radius: none;
    }
  }
}

.mapbox {
  display: flex;
  min-width: 100%;
  text-align: left;
}

//autocomplete geocoder
.AutocompletePlace {
  position: relative;
}

.AutocompletePlace-results {
  position: absolute;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid #00000011;
}

.AutocompletePlace-items {
  list-style: none;
  border: 1px solid #00000011;
  cursor: pointer;
  padding: 10px 10px;
}

.AutocompletePlace-items:hover {
  background-color: #0000ff11;
}

.main {
  flex-grow: 1;
}

.Footer {
  flex-shrink: 0;
  background-color: $primary;
  color: $secondary;
  padding: 3px 0;
}

.reviewContainer {
  li {
    list-style: none;
    text-align: left;
  }
}
