
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// --------------------
// Definition of variables
$primary: #32c3ff;

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  display:flex;
  flex-direction: column;
  padding:5px;

  p {
    font-size: 1.2em;
  }

  img {
    width:70%;
    max-width:400px;
    min-width:250px;
    padding:30px;
  }

  .features {
    padding:5px;
    margin:5px;
  }

  .icon{
    padding-bottom:15px;
  }

  .home-header{
    padding-top: 10px;
    padding-bottom:30px;
  }
}

.AddLibrary,.AddBook{
  display:flex;
  flex-direction: column;
  align-items: center;
  
  form{
    width:70%;
    max-width:500px;}
  
  h2{
    padding:10px;
  }

  .modal-body{
    display:flex;
    justify-content: center;
    text-align: center;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

// --------------------
// Style for Login and Sign Up components

.Login {
  input {
  margin-top: 5px;
  }

  h2 {
  margin-top: 5px;
  }
}

.Signup {
  input {
  margin-top: 5px;
  }

  h2 {
  margin-top: 5px;
  }
}

a {
  cursor: pointer
}

// --------------------
// Style for Profile Page component

.profilePage {
  div {
    display: flex;
    flex-direction: column;
  }

  li {
    text-align: left;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  a {
    margin-top: 5px;
  }

  .infoContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .infoContainer img {
    height: 100px;
  }

  .userContainer img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100px;
  }
}